

@media only screen and (min-width: 650px) and (max-width: 999px) {

    nav ul {
        text-align: center;
        display: inline-flex;
    }
    nav li {
        display: inline-block;
        padding: .25em;
    }
    .top-nav ul li {
        display: inline;
    }
    .top-nav ul li a {
        display: inline;
    }

    .photo-cell-verticle-1 {
        width: 46%;
        display: inline-block;
    }

    .photo-cell-verticle-2 {
        width: 46%;
        display: inline-block;
    }


    .logo{
        text-align: center;
    }

}



@media only screen and (min-width: 1000px) {
    nav ul {
        text-align: right;
        display: inline-flex;
    }
    nav li {
        display: inline-block;
        padding: .25em;
    }
    .top-nav ul li {
        display: inline;
    }
    .top-nav ul li a {
        display: inline;
    }





    .photo-cell {
        width: 47%;
        display: inline-block;

    }




    .photo-cell-verticle-1 {
        width: 20%;
        display: inline-block;
        padding: .5em;
    }

    .photo-cell-verticle-2 {
        width: 20%;
        display: inline-block;
        padding: .5em;
    }


     .logo{
        text-align: left;
    }

    




}